@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
:root {
  /* colors */
  --primary-50: #e0fcff;
  --primary-100: #bef8fd;
  --primary-200: #87eaf2;
  --primary-300: #54d1db;
  --primary-400: #38bec9;
  --primary-500: #2cb1bc;
  --primary-600: #14919b;
  --primary-700: #0e7c86;
  --primary-800: #0a6c74;
  --primary-900: #044e54;
  --primary-1000: #023a3f;
  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;
  /* rest of the colors */
  --black: #333;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  max-width: 1200px;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: var(--grey-50);
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0%;
  text-transform: capitalize;
}

.container {
  overflow: hidden;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background: var(--white);
}

header .logo a {
  text-decoration: none;
  color: var(--black);
}
header .logo a h1 {
  font-family: "Lobster", cursive;
  font-size: 2em;
  display: inline;
  margin-right: 8px;
}
header .logo a h1 span {
  color: var(--primary-400);
  font-family: "Dancing Script", cursive;
}
header .logo a img {
  transition: 800ms;
}
header .logo a img:hover {
  transform: rotate(640deg);
}
header nav ul {
  display: flex;
}
header nav ul li {
  cursor: pointer;
  /* border-bottom: 2px solid var(--primary-100); */
  transition: 800ms;
}
header nav ul li a {
  color: var(--black);
  /* font-weight: bold; */
  padding: 0 8px;
  text-decoration: none;
  /* bagggg must be inline-block */
  display: inline-block;
  font-size: 1em;
  font-family: sans-serif;
}
header nav ul li a::after {
  content: "";
  display: block;
  width: 0%;
  background: var(--grey-300);
  height: 2px;
  margin: 0 auto;
  transition: 800ms;
}
header nav ul li a:hover::after {
  width: 100%;
}
header nav ul li a:hover {
  color: var(--black);
}
header nav .fa {
  font-size: 1em;
}
header nav .fa-times {
  font-size: 1.5em;
  cursor: pointer;
}
header nav .fa-arrow-left {
  color: var(--black);
}

/* button start */
.hbtn {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 4px 20px;
  /* margin: 0px 3px 6px; */
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  z-index: 0;
  margin-top: 16px;
}

.hbtn i {
  padding-right: 8px;
}

.hb-fill-top::before {
  position: absolute;
  content: "";
  background: var(--white);
  transition-duration: 0.3s;
  z-index: -1;
  inset: auto auto 0px 0px;
  width: 100%;
  height: 0px;
  opacity: 1;
}

.hb-fill-top:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hb-fill-top:hover {
  color: rgb(0, 0, 0);
  background: var(--white);
  transition: color 0.3s ease 0s, background 0s ease 0.3s;
}

/* button end */
footer {
  background: var(--grey-100);
}
footer .aboutMe_box span {
  font-size: 1em;
}
footer .aboutMe_box nav a {
  padding: 0 8px;
  font-size: 1em;
  text-decoration: none;
  color: var(--black);
}
footer .aboutMe_box nav a:hover {
  color: var(--primary-500);
}
footer .platforms_box nav a {
  text-decoration: none;
  color: var(--black);
  font-size: 2.5em;
  padding: 0 4px;
  transition: 800ms;
}
footer .platforms_box nav a .fa-github-square {
  color: var(--black);
  transition: 800ms;
}
footer .platforms_box nav a .fa-github-square:hover {
  transform: scale(1.1);
}
footer .platforms_box nav a .fa-facebook-square {
  color: var(--grey-900);
  transition: 800ms;
}
footer .platforms_box nav a .fa-facebook-square:hover {
  transform: scale(1.1);
}
footer .platforms_box nav a .fa-linkedin-square {
  color: var(--black);
  transition: 800ms;
}
footer .platforms_box nav a .fa-linkedin-square:hover {
  transform: scale(1.1);
}
footer .platforms_box nav a .fa-instagram {
  color: var(--red-dark);
  transition: 800ms;
}
footer .platforms_box nav a .fa-instagram:hover {
  transform: scale(1.1);
}

@media (max-width: 992px) {
  footer .aboutMe_box span {
    font-size: 0.8em;
  }
  footer .aboutMe_box nav a {
    font-size: 0.8em;
  }
}
@media (max-width: 768px) {
  header nav {
    display: block;
    position: fixed;
    top: 46px;
    right: -100%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.996);
    /* 100% */
    min-height: 100vh;
    width: 100%;
    transition: 800ms;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav ul li {
    margin-bottom: 24px;
    /* border-bottom: 2px solid var(--primary-100); */
    transition: 800ms;
  }
  header nav ul li:hover a {
    color: var(--grey-200);
  }
  header nav ul li:hover .fa-arrow-left {
    color: var(--grey-200);
  }
  header nav ul div h3 {
    cursor: pointer;
  }
  header nav ul div h3:hover,
header nav ul div h3::after {
    background: var(--grey-300);
  }
  header .burger .fa {
    font-size: 2em;
    cursor: pointer;
    color: var(--black);
  }
  header nav.active {
    right: 0;
    /* box-shadow: 12px 0 15px -4px rgba(34, 34, 34, 0.201), -12px 0 8px -4px rgba(34, 34, 34, 0.201); */
  }
}/*# sourceMappingURL=general.css.map */