:root {
    /* colors */
    --primary-50: #e0fcff;
    --primary-100: #bef8fd;
    --primary-200: #87eaf2;
    --primary-300: #54d1db;
    --primary-400: #38bec9;
    --primary-500: #2cb1bc;
    --primary-600: #14919b;
    --primary-700: #0e7c86;
    --primary-800: #0a6c74;
    --primary-900: #044e54;
    --primary-1000: #023a3f;
    /* grey */
    --grey-50: #f0f4f8;
    --grey-100: #d9e2ec;
    --grey-200: #bcccdc;
    --grey-300: #9fb3c8;
    --grey-400: #829ab1;
    --grey-500: #627d98;
    --grey-600: #486581;
    --grey-700: #334e68;
    --grey-800: #243b53;
    --grey-900: #102a43;
    /* rest of the colors */
    --black: #333;
    --black9: rgba(51, 51, 51, 0.903);
    --black8: rgba(51, 51, 51, 0.803);
    --black7: rgba(51, 51, 51, 0.703);
    --black6: rgba(51, 51, 51, 0.603);
    --black5: rgba(51, 51, 51, 0.503);
    --black4: rgba(51, 51, 51, 0.403);
    --black3: rgba(51, 51, 51, 0.303);
    --white: #fff;
    --white-9: rgba(255, 255, 255, 0.9);
    --white-8: rgba(255, 255, 255, 0.802);
    --white-7: rgba(255, 255, 255, 0.708);
    --white-6: rgba(255, 255, 255, 0.606);
    --white-5: rgba(255, 255, 255, 0.503);
    --white-4: rgba(255, 255, 255, 0.395);
    --white-3: rgba(255, 255, 255, 0.301);
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
}


// replace carousel open
.strip {
    //<img src="https://i.ibb.co/vjjd5Zz/strip-background1.jpg" alt="strip-background1" border="0">
    min-height: 50vh;
    background: url(https://i.ibb.co/GtG7gH2/strip-background.jpg);
    background-position: center;
    background-size: cover;
    color: var(--white);

    .container {
        color: var(--black);
        max-width: 600px;
        padding: 16px;
        background: #14929b7b;
        border-radius: 15px;

        p {
            font-size: 1.1em;
        }
    }
}

// replace carousel close


// carousel open
.strip_carousel {
    .bg_pic {
        min-height: 400px;
        background-position: center;
        background-size: cover;
    }
    .bg_pic_amsterdam{
        min-height: 400px;
        background-position: center bottom;
        background-position-y: 400px;
        background-size: cover;
    }


    .carousel-item .carousel-caption {
        background: rgba(51, 51, 51, 0.308);
        max-width: 500px;
        margin: 0 auto;
    }

    .carousel-item .carousel-caption::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        /* left: 25%; */
        border-top: 2px solid var(--white);
        border-left: 2px solid var(--white);
    }
}

// carousel close


.rHotels {
    // <img src="https://i.ibb.co/GtG7gH2/strip-background.jpg" alt="strip-background" border="0">
    // background: url(https://i.ibb.co/GtG7gH2/strip-background.jpg);
    background-position: center;
    background-size: cover;
}

// ad websites open
aside {
    background: var(--white);
    padding: 20px;
    text-align: center;

    h6 {
        margin-bottom: 12px;
        font-style: italic;
        font-size: 1em;
        font-weight: 400;
    }

    nav {
        text-align: center;

        a {
            padding: 0 48px;

            img {
                width: 100px;
            }
        }
    }
}

@media(max-width:992px) {
    aside {
        nav a {
            padding: 0 12px;

            img {
                width: 60px;
            }
        }
    }
}

// ad website close

//cities open
section {
    background: #F0F4F8;
    .container {
        article {
            .box {
                cursor: pointer;
                background: white;
                box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
                transition: 1s;
            }

            .box:hover {
                transform: scale(1.03);
            }
        }
    }
}

//cities close

// strip open

// strip close